<%- include("header") -%>
<h2>This is the about page</h2>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sed, possimus non quod iusto eum, iure veniam earum aspernatur qui dolor dicta nam obcaecati corrupti ad vitae libero sequi rem, reprehenderit error dolores rerum omnis corporis! Nostrum dolorum quos exercitationem quas, aut ratione possimus nobis commodi odio! Debitis laborum consequatur nemo.</p>
<%- include("footer") -%>